In [1]:
1+1

2

In [3]:
a=[1,2,3,4,5]

合計とは順番に足した結果　　　合計をsとする

In [9]:
s=0

In [10]:
s=0
s+=1
s+=2
s+=3
s+=4
s+=5

In [11]:
s

15

In [12]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [14]:
a=[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

for＝aの要素をpと呼ぶ
コロンの後のスペースは大事
スペースで右に寄っている部分だけ繰り返される

91

In [37]:
list_tohoku=[5349, 5478, 5344, 4644, 4968, 6259]

In [38]:
for val in list_tohoku:
　　　print(val)

SyntaxError: invalid character in identifier (<ipython-input-38-ef29ae47ebc6>, line 2)

In [26]:
s=0

for x in a:
    s=s+x
    
s

15

aの平均

In [33]:
s=0

for x in a:
    s=s+x
    
s

s/5

3.0

In [34]:
s=0

for x in a:
    s=s+x
    
s/len(a)

3.0

92

In [41]:
s = 0.0

for val in list_tohoku:
  s += val

s /= len(list_tohoku)
print(s)

5340.333333333333

s/=len(a) とはs/len(a)と同じ意味

93

In [43]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s+= x
    
s/len(list_shikoku)

2890.5

In [ ]:
94

In [46]:
from statistics import *
print(mean(list_shikoku))

2890.5

95　オプショナル　　96

In [48]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [97]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for avg in dict_tohoku:
    print(avg)

aomori
akita
sendai
Yamagata
fukushima
morioka

keyをavgに変えても変わらない

97

In [70]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

98

In [101]:
s=0

for x in dict_tokoku:
     print(dict_tohoku[x])
    s+=dict_tohoku[x]


s/len(dict_tohoku)

IndentationError: unindent does not match any outer indentation level (<ipython-input-101-9faffbead3bf>, line 5)

1.[5,4,3,2]の平均
2．['A':10,'B':100,'C':1000]の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [105]:
a=[5,4,3,2]

s=0
for x in a:
    s+= x
print(a)
s/len(a)

[5, 4, 3, 2]

3.5

In [122]:
a=['A':10,'B':100,'C':1000]

s=0
for x in a:
    s+= a[x] 
s/len(a)

SyntaxError: invalid syntax (<ipython-input-122-b04ff4d2be95>, line 1)

In [114]:
a={10:'A',100:'B',1000:'C'}

s=0

for x in a:
    s+=x
    
s/len(a)

370.0